* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --main-color: #faf4e9;
}

body {
  font-family: var(--poppins);
  color: #363636;
}

footer > div > div > ul > li {
  padding: 4px 0px 4px 0px;
}

footer > div > div > ul > li > a:hover {
  text-decoration: underline;
}

.fa-xmark {
  width: 21px !important;
  height: 24px !important;
  font-size: 30px !important;
  transform: translateY(3px);
  position: relative;
}

.fa-xmark::after {
  content: "";
  position: absolute;
  background: #fff;
  top: -5px;
  left: -9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
}

.fa-bars {
  transform: translateY(2px);
}

.hostingItem,
.technologyItem,
.aboutUsItem {
  display: none;
}

.hosting:hover > .hostingItem,
.technology:hover > .technologyItem,
.aboutUs:hover > .aboutUsItem {
  display: block;
}

.customShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tooltip {
  position: fixed;
  display: none;
  max-width: 300px;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  z-index: 100;
  text-align: center;
}

.customDotted,
.customDotted-2,
.customDotted > li,
.customDotted-2 > li,
.customDotted > li > span,
.customDotted-2 > li > span {
  cursor: default !important;
}

.customDotted > li:not(:nth-child(-n + 2), :nth-child(14)) {
  width: max-content;
  margin: 0 auto 0 auto;
  border-bottom: 2px dotted #363636;
}

.customDotted-2 > li {
  width: max-content;
  margin: 0 auto 0 auto;
  border-bottom: 2px dotted #363636;
}

.customFeaturesItem {
  display: none;
}

.activeFeatures ~ .customFeaturesItem {
  display: block;
}

@media not all and (min-width: 1024px) {
  .open {
    transform: translateX(-45px) !important;
    opacity: 1 !important;
    z-index: 100 !important;
  }

  .hamburgerMenuActive {
    opacity: 0 !important;
    height: 0px !important;
    display: none !important;
    transition: all 0.3s ease !important;
  }

  .hamburgerMenuToggle ~ .hamburgerMenuActive {
    opacity: 1 !important;
    height: 100% !important;
    display: block !important;
  }
}

@media not all and (min-width: 768px) {
  .fa-chevron-right {
    display: none;
    padding: 0px 4px;
  }

  .activeArrow {
    transform: rotate(90deg);
  }

  .footerUl {
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease;
  }

  .active ~ .footerUl {
    opacity: 1;
    height: 250px;
  }
}

@media (max-width: 640px) {
  .open {
    transform: translateX(-25px) !important;
  }
}
